@font-face {
    font-family: "ArtistFont";
    src: url(dasickfonts/Artist-Font/Artist-Font.otf);
}

@font-face {
    font-family: "Blocks";
    src: url(dasickfonts/BLOCKS-ON-BLOCKS/BLOCKS-ONBLOCKS.otf);
}

@font-face {
    font-family: "BoldGod";
    src: url(dasickfonts/BOLd-GOd-dISPLAY/BOLdGOd-dISPLAY.otf);
}

@font-face {
    font-family: "GUY";
    src: url(dasickfonts/GUY1976/GUY1976-ONE.otf);
}

@font-face {
    font-family: "MudClub";
    src: url(dasickfonts/Mud-Club/MudClub-FranklintheGoth.otf);
}

@font-face {
    font-family: "Orchard";
    src: url(dasickfonts/Orchard/Orchard-Linear.otf);
}

@font-face {
    font-family: "Pringip";
    src: url(dasickfonts/Pringip-Signage/Pringip-Signage.otf);
}

@font-face {
    font-family: "Scribble";
    src: url(dasickfonts/Scribble-Fill/Scribble-Fill.otf);
}

@font-face {
    font-family: "Slash";
    src: url(dasickfonts/Slash-Standard/Slash-Standard.otf);
}

@font-face {
    font-family: "SlowScript";
    src: url(dasickfonts/Slow-Script/SlowScript-One.otf);
}

@font-face {
    font-family: "TimeStamp";
    src: url(dasickfonts/Time-Stamp/TimeStamp-Standard.otf);
}

@font-face {
    font-family: "Womb1";
    src: url(dasickfonts/Womb-Script/WombScript-Linear.otf);
}

@font-face {
    font-family: "Womb2";
    src: url(dasickfonts/Womb-Script/WombScript-Regular.otf);
}

@font-face {
    font-family: "Wreckage";
    src: url(dasickfonts/Wreckage-Grotesque/Wreckage-GrotesqueOne.otf);
}


.Artist {
	font-family: "ArtistFont";
	font-size: 80px;
	font-weight: normal;
	margin-bottom:50px;
}

.Blocks {
	font-family: "Blocks";
	font-size: 80px;
	font-weight: normal;
	margin-bottom:50px;
}

.BoldGod {
	font-family: "BoldGod";
	font-size: 80px;
	font-weight: normal;
	margin-bottom:50px;
}

.GUY {
	font-family: "GUY";
	font-size: 80px;
	font-weight: normal;
	margin-bottom:50px;
}

.MudClub {
	font-family: "MudClub";
	font-size: 80px;
	font-weight: normal;
	margin-bottom:50px;
}

.Orchard {
	font-family: "Orchard";
	font-size: 80px;
	font-weight: normal;
	margin-bottom:60px;
}

.Pringip {
	font-family: "Pringip";
	font-size: 80px;
	font-weight: normal;
	margin-bottom:50px;
}

.Scribble {
	font-family: "Scribble";
	font-size: 80px;
	font-weight: normal;
	margin-bottom:50px;
}

.Slash {
	font-family: "Slash";
	font-size: 80px;
	font-weight: normal;
	margin-bottom:50px;
}

.SlowScript {
	font-family: "SlowScript";
	font-size: 80px;
	font-weight: normal;
	margin-bottom:50px;
}

.TimeStamp {
	font-family: "TimeStamp";
	font-size: 80px;
	font-weight: normal;
	margin-bottom:50px;
}

.Womb1 {
	font-family: "Womb1";
	font-size: 80px;
	font-weight: normal;
	margin-bottom:50px;
}

.Womb2 {
	font-family: "Womb2";
	font-size: 80px;
	font-weight: normal;
	margin-bottom:50px;
}

.Wreckage {
	font-family: "Wreckage";
	font-size: 80px;
	font-weight: normal;
	margin-bottom:50px;
}

/* RESPONSIVE ----------------------------- */

@media screen and (max-width:680px){

	.Artist {
		font-size: 50px;
		margin-bottom:20px;
	}

	.Blocks {
		font-size: 50px;
		margin-bottom:20px;
	}

	.BoldGod {
		font-size: 50px;
		margin-bottom:20px;
	}

	.GUY {
		font-size: 50px;
		margin-bottom:40px;
	}

	.MudClub {
		font-size: 50px;
		margin-bottom:30px;
	}

	.Orchard {
		font-size: 50px;
		margin-bottom:40px;
	}

	.Pringip {
		font-size: 50px;
		margin-bottom:20px;
		line-height: normal;
	}

	.Scribble {
		font-size: 50px;
		margin-bottom:20px;
		line-height: normal;
	}

	.Slash {
		font-size: 50px;
		margin-bottom:20px;
	}

	.SlowScript {
		font-size: 50px;
		margin-bottom:30px;
	}

	.TimeStamp {
		font-size: 50px;
		margin-bottom:20px;
	}

	.Womb1 {
		font-size: 50px;
		margin-bottom:0;
	}

	.Womb2 {
		font-size: 50px;
		margin-bottom:40px;
	}

	.Wreckage {
		font-size: 50px;
		margin-bottom:30px;
		line-height: normal;
	}

}
