@font-face {
    font-family: "ArtistFont";
    src: url(fonts/dsf/Artist-Font.otf);
}

@font-face {
    font-family: "Blocks";
    src: url(fonts/dsf/BLOCKS-ONBLOCKS.otf);
}

@font-face {
    font-family: "BoldGod";
    src: url(fonts/dsf/BOLdGOd-dISPLAY.otf);
}

@font-face {
    font-family: "ColdIcePlant";
    src: url(fonts/dsf/ColdIcePlant-Mono.otf);
}

@font-face {
    font-family: "GUY";
    src: url(fonts/dsf/GUY1976-ONE.otf);
}

@font-face {
    font-family: "MudClub";
    src: url(fonts/dsf/MudClub-FranklintheGoth.otf);
}

@font-face {
    font-family: "Orchard";
    src: url(fonts/dsf/Orchard-Linear.otf);
}

@font-face {
    font-family: "Pringip";
    src: url(fonts/dsf/Pringip-Signage.otf);
}

@font-face {
    font-family: "Scribble";
    src: url(fonts/dsf/Scribble-Fill.otf);
}

@font-face {
    font-family: "Slash";
    src: url(fonts/dsf/Slash-Standard.otf);
}

@font-face {
    font-family: "SlowScript";
    src: url(fonts/dsf/SlowScript-One.otf);
}

@font-face {
    font-family: "Squarevetica";
    src: url(fonts/dsf/Squarevetica-Regular.otf);
}

@font-face {
    font-family: "TimeStamp";
    src: url(fonts/dsf/TimeStamp-Standard.otf);
}

@font-face {
    font-family: "Womb1";
    src: url(fonts/dsf/WombScript-Linear.otf);
}

@font-face {
    font-family: "Womb2";
    src: url(fonts/dsf/WombScript-Regular.otf);
}

@font-face {
    font-family: "Wreckage";
    src: url(fonts/dsf/Wreckage-GrotesqueOne.otf);
}

.Artist {
	font-family: "ArtistFont";
	font-size: 80px;
	font-weight: normal;
	margin-bottom:50px;
}

.Blocks {
	font-family: "Blocks";
	font-size: 80px;
	font-weight: normal;
	margin-bottom:50px;
}

.BoldGod {
	font-family: "BoldGod";
	font-size: 80px;
	font-weight: normal;
	margin-bottom:50px;
}

.ColdIcePlant {
	font-family: "ColdIcePlant";
	font-size: 80px;
	font-weight: normal;
	margin-bottom:50px;
}

.GUY {
	font-family: "GUY";
	font-size: 80px;
	font-weight: normal;
	margin-bottom:50px;
}

.MudClub {
	font-family: "MudClub";
	font-size: 80px;
	font-weight: normal;
	margin-bottom:50px;
}

.Orchard {
	font-family: "Orchard";
	font-size: 80px;
	font-weight: normal;
	margin-bottom:60px;
}

.Pringip {
	font-family: "Pringip";
	font-size: 80px;
	font-weight: normal;
	margin-bottom:50px;
}

.Scribble {
	font-family: "Scribble";
	font-size: 80px;
	font-weight: normal;
	margin-bottom:50px;
}

.Slash {
	font-family: "Slash";
	font-size: 80px;
	font-weight: normal;
	margin-bottom:50px;
}

.SlowScript {
	font-family: "SlowScript";
	font-size: 80px;
	font-weight: normal;
	margin-bottom:50px;
}

.Squarevetica {
	font-family: "Squarevetica";
	font-size: 80px;
	font-weight: normal;
	margin-bottom:50px;
}

.TimeStamp {
	font-family: "TimeStamp";
	font-size: 80px;
	font-weight: normal;
	margin-bottom:50px;
}

.Womb1 {
	font-family: "Womb1";
	font-size: 80px;
	font-weight: normal;
	margin-bottom:50px;
}

.Womb2 {
	font-family: "Womb2";
	font-size: 80px;
	font-weight: normal;
	margin-bottom:50px;
}

.Wreckage {
	font-family: "Wreckage";
	font-size: 80px;
	font-weight: normal;
	margin-bottom:50px;
}


/* Other shit ----------- */

body {
	font-family: Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 36px;
	line-height: 38px;
	letter-spacing: -0.3px;
	text-align: left;
	color: white;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: slateblue;
}

div {
	width: 100%;
	float: left;
}

#container {
	width: 97%;
	margin: 20px 1.5%;
	float: none;
	clear: both;
}



/* STYLE --------------- */

.titles {
	letter-spacing: -1px;
	border-radius: 20px;
	background: #89FF81;
	color: black;
	padding: 20px;
}

blockquote {
	font-family:'Times New Roman', Times, serif; 
	font-style: italic;
	letter-spacing: -1px;
	font-size: 38px;
	line-height: 37px;
}

.footnote {
	font-family: Courier, 'Courier New', monospace;
	font-size: 16px;
	line-height: normal;
}

.writing {
	letter-spacing: -0.01px;
	width: 75%;
	margin-bottom: 90px;
}

span.spacer {
   padding:0 30px;
}

hr { 
	width: 100%;
	display: block;
    border: 5px solid black;
    border-style: none none solid; 
    color: #fff; 
    background-color: #fff; 
    margin: 10px 0 1.5em 0; 
    padding: 0;
    float: left;
    clear: both;
}

p {
	margin: 0 0 1em 0;
}
    
img {
	max-width: 100%;
	max-height: 700px;
	padding: 0;
	display: block;
    margin-bottom: 25px;
    margin-right: 25px;
    float: left;
	border-style: none;
	text-decoration: none;
}

img.shadow {
	border: 1px solid #ccc;
   padding: 0;
}

::selection { background: #000; color: slateblue; text-shadow: none; /* Safari */ }
::-moz-selection { background: #000; color: slateblue; text-shadow: none; /* Firefox */ }




/* LINKS --------------- */

a:link {
	text-decoration:none;
	color: black;
}

a:visited {
	text-decoration:none;
	color: black;
}

a:hover{
	text-decoration:none;
	color: black;
	text-shadow: 0px 0px 10px black;
	-webkit-filter: blur(3px);
    filter: blur(3px);
}

a:active {
	text-decoration:none;
	color: black;
}



/* RESPONSIVE ----------------------------- */

@media screen and (max-width:1024px){

	#container {
		margin: 2% 2%;
		width: 96%;
	}

	.titles {
		padding: 12px;
		border-radius: 12px;
		letter-spacing: normal;
	}

	.writing { 
	    width: 100%;
	    margin-bottom: 60px;
	}
}

@media screen and (max-width:767px){
	
	body {
		font-size: 18px;
		line-height: 20px;
		letter-spacing: normal;
	}

	.titles {
		padding: 8px;
		border-radius: 10px;
		letter-spacing: normal;
	}

	blockquote {
		font-size: 17px;
		line-height: 19px;
		letter-spacing: normal;
	}

	.footnote {
		font-size: 13px;
	}
	
	img {
		max-width: 100% !important;
	}
	
	



	.Artist {
		font-size: 50px;
		margin-bottom:20px;
	}

	.Blocks {
		font-size: 50px;
		margin-bottom:20px;
	}

	.BoldGod {
		font-size: 50px;
		margin-bottom:20px;
	}

	.ColdIcePlant {
		font-size: 50px;
		margin-bottom:20px;
	}

	.GUY {
		font-size: 50px;
		margin-bottom:40px;
	}

	.MudClub {
		font-size: 50px;
		margin-bottom:30px;
	}

	.Orchard {
		font-size: 50px;
		margin-bottom:40px;
	}

	.Pringip {
		font-size: 50px;
		margin-bottom:20px;
		line-height: normal;
	}

	.Scribble {
		font-size: 50px;
		margin-bottom:20px;
		line-height: normal;
	}

	.Slash {
		font-size: 50px;
		margin-bottom:20px;
	}

	.SlowScript {
		font-size: 50px;
		margin-bottom:30px;
	}

	.Squarevetica {
		font-size: 50px;
		margin-bottom:30px;
	}

	.TimeStamp {
		font-size: 50px;
		margin-bottom:20px;
	}

	.Womb1 {
		font-size: 50px;
		margin-bottom:0;
	}

	.Womb2 {
		font-size: 50px;
		margin-bottom:40px;
	}

	.Wreckage {
		font-size: 50px;
		margin-bottom:30px;
		line-height: normal;
	}

}
