@font-face {
    font-family: "ArtistFont";
    src: url(fonts/dsf/Artist-Font.otf);
}

@font-face {
    font-family: "Blocks";
    src: url(fonts/dsf/BLOCKS-ONBLOCKS.otf);
}

@font-face {
    font-family: "BoldGod";
    src: url(fonts/dsf/BOLdGOd-dISPLAY.otf);
}

@font-face {
    font-family: "GUY";
    src: url(fonts/dsf/GUY1976-ONE.otf);
}

@font-face {
    font-family: "MudClub";
    src: url(fonts/dsf/MudClub-FranklintheGoth.otf);
}

@font-face {
    font-family: "Orchard";
    src: url(fonts/dsf/Orchard-Linear.otf);
}

@font-face {
    font-family: "Pringip";
    src: url(fonts/dsf/Pringip-Signage.otf);
}

@font-face {
    font-family: "Scribble";
    src: url(fonts/dsf/Scribble-Fill.otf);
}

@font-face {
    font-family: "Slash";
    src: url(fonts/dsf/Slash-Standard.otf);
}

@font-face {
    font-family: "SlowScript";
    src: url(fonts/dsf/SlowScript-One.otf);
}

@font-face {
    font-family: "TimeStamp";
    src: url(fonts/dsf/TimeStamp-Standard.otf);
}

@font-face {
    font-family: "Womb1";
    src: url(fonts/dsf/WombScript-Linear.otf);
}

@font-face {
    font-family: "Womb2";
    src: url(fonts/dsf/WombScript-Regular.otf);
}

@font-face {
    font-family: "Wreckage";
    src: url(fonts/dsf/Wreckage-GrotesqueOne.otf);
}

.Artist {
	font-family: "ArtistFont";
	font-size: 80px;
	font-weight: normal;
	margin-bottom:50px;
}

.Blocks {
	font-family: "Blocks";
	font-size: 80px;
	font-weight: normal;
	margin-bottom:50px;
}

.BoldGod {
	font-family: "BoldGod";
	font-size: 80px;
	font-weight: normal;
	margin-bottom:50px;
}

.GUY {
	font-family: "GUY";
	font-size: 80px;
	font-weight: normal;
	margin-bottom:50px;
}

.MudClub {
	font-family: "MudClub";
	font-size: 80px;
	font-weight: normal;
	margin-bottom:50px;
}

.Orchard {
	font-family: "Orchard";
	font-size: 80px;
	font-weight: normal;
	margin-bottom:60px;
}

.Pringip {
	font-family: "Pringip";
	font-size: 80px;
	font-weight: normal;
	margin-bottom:50px;
}

.Scribble {
	font-family: "Scribble";
	font-size: 80px;
	font-weight: normal;
	margin-bottom:50px;
}

.Slash {
	font-family: "Slash";
	font-size: 80px;
	font-weight: normal;
	margin-bottom:50px;
}

.SlowScript {
	font-family: "SlowScript";
	font-size: 80px;
	font-weight: normal;
	margin-bottom:50px;
}

.TimeStamp {
	font-family: "TimeStamp";
	font-size: 80px;
	font-weight: normal;
	margin-bottom:50px;
}

.Womb1 {
	font-family: "Womb1";
	font-size: 80px;
	font-weight: normal;
	margin-bottom:50px;
}

.Womb2 {
	font-family: "Womb2";
	font-size: 80px;
	font-weight: normal;
	margin-bottom:50px;
}

.Wreckage {
	font-family: "Wreckage";
	font-size: 80px;
	font-weight: normal;
	margin-bottom:50px;
}


/* Other shit ----------- */

body {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 20px;
	line-height: 23px;
	letter-spacing: -0.1px;
	text-align: left;
	color: black;
	background-color: #eee;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

div {
	width: 100%;
	float: left;
}

.description {
	width: 100%;
}

#container {
	width: 1000px;
	margin: 25px auto;
	float: none;
	clear: both;
}




/* STYLE --------------- */

.titles {
	font-family:'Gloria Hallelujah'; 
	text-transform: uppercase;
}

blockquote {
	font-family: Courier, 'Courier New', monospace;
	font-size: 18px;
}

.footnote {
	font-family: Courier, 'Courier New', monospace;
	font-size: 11px;
	line-height: normal;
}

.writing {
	letter-spacing: -0.01px; 
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    -webkit-column-gap: 16px; /* Chrome, Safari, Opera */
    -moz-column-gap: 16px; /* Firefox */
    column-gap: 16px;"
}

span.spacer {
   padding:0 30px;
}

hr { 
	width: 100%;
	display: block;
    border: 5px solid black;
    border-style: none none solid; 
    color: #fff; 
    background-color: #fff; 
    margin: 10px 0 1.5em 0; 
    padding: 0;
    float: left;
    clear: both;
}

p {
	margin: 0 0 1em 0;
}
    
img {
	max-width: 100%;
	max-height: 700px;
	padding: 0;
	display: block;
    margin-bottom: 25px;
    margin-right: 25px;
    float: left;
	border-style: none;
	text-decoration: none;
}

img.shadow {
	border: 1px solid #ccc;
   padding: 0;
}

img.imagethirds {
	width:31%;
    margin-right:2%;
}

::selection { background: #000; color: bisque; text-shadow: none; /* Safari */ }
::-moz-selection { background: #000; color: bisque; text-shadow: none; /* Firefox */ }




/* LINKS --------------- */

a:link {
	font-weight: bold;
	text-decoration:none;
	color: black;
}

a:visited {
	font-weight: bold;
	text-decoration:none;
	color: black;
}

a:hover{
	font-weight: bold;
	text-decoration:none;
	color: bisque;
	text-shadow: 0px 0px 10px bisque;
}

a:active {
	font-weight: bold;
	text-decoration:none;
	color: black;
}



/* RESPONSIVE ----------------------------- */

@media screen and (max-width:900px){

	#container {
		width: 98%;
	}

	img.imagethirds {
	width:47%;
    margin-right:2%;
}

}

@media screen and (max-width:680px){
	
	body {
		font-size: 16px;
		line-height: 18px;
	}

	blockquote {
	font-size: 14px;
	}
	
	#container {
		margin: 2% 2%;
		width: 96%;
	}
	
	img {
		max-width: 100% !important;
	}
	

	img.imagethirds {
	width:100%;
    margin-right:0;
	}

	.writing { 
    -webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
	}

	.Artist {
		font-size: 50px;
		margin-bottom:20px;
	}

	.Blocks {
		font-size: 50px;
		margin-bottom:20px;
	}

	.BoldGod {
		font-size: 50px;
		margin-bottom:20px;
	}

	.GUY {
		font-size: 50px;
		margin-bottom:40px;
	}

	.MudClub {
		font-size: 50px;
		margin-bottom:30px;
	}

	.Orchard {
		font-size: 50px;
		margin-bottom:40px;
	}

	.Pringip {
		font-size: 50px;
		margin-bottom:20px;
		line-height: normal;
	}

	.Scribble {
		font-size: 50px;
		margin-bottom:20px;
		line-height: normal;
	}

	.Slash {
		font-size: 50px;
		margin-bottom:20px;
	}

	.SlowScript {
		font-size: 50px;
		margin-bottom:30px;
	}

	.TimeStamp {
		font-size: 50px;
		margin-bottom:20px;
	}

	.Womb1 {
		font-size: 50px;
		margin-bottom:0;
	}

	.Womb2 {
		font-size: 50px;
		margin-bottom:40px;
	}

	.Wreckage {
		font-size: 50px;
		margin-bottom:30px;
		line-height: normal;
	}

}
