body {
	font-family: Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 36px;
	line-height: 37px;
	letter-spacing: -0.3px;
	text-align: left;
	color: white;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: black;
}

div {
	width: 100%;
	float: left;
}

.imagesflex {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
}

#container {
	width: 94%;
	margin: 25px 3%;
	float: none;
	clear: both;
}

figcaption {
	position: fixed;
	z-index: 9999;
	bottom: 25px;
	left: 3%;
	width: 50%;
	display: none;
	border-radius: 20px;
	background: #89FF81;
	color: black;
	padding: 20px;
}

figure:hover figcaption {
	display: block;
}

figure {
	margin: 0;
	padding: 0;
}


/* STYLE --------------- */

hr { 
	width: 100%;
	display: block;
    border: 5px solid white;
    border-style: none none solid; 
    color: #fff; 
    background-color: #fff; 
    margin: 15px 0 1.5em 0; 
    padding: 0;
    float: left;
    clear: both;
}

p {
	margin: 0 0 1em 0;
}
    
img {
	max-width: 700px;
	max-height: 700px;
	padding: 0;
	margin: 6px;
	display: block;
	border-style: none;
	text-decoration: none;
}

img.shadow {
	border: 1px solid #202020;
}

::selection { background: #000; color: slateblue; text-shadow: none; /* Safari */ }
::-moz-selection { background: #000; color: slateblue; text-shadow: none; /* Firefox */ }




/* LINKS --------------- */

a:link {
	text-decoration:none;
	color: slateblue;
}

a:visited {
	text-decoration:none;
	color: slateblue;
}

a:hover{
	text-decoration:none;
	color: slateblue;
	text-shadow: 0px 0px 10px white;
}

a:active {
	text-decoration:none;
	color: slateblue;
}



/* RESPONSIVE ----------------------------- */

@media screen and (max-width:1024px){

	figcaption {
		position: inherit;
		z-index: 9999;
		width: 90%;
		display: block;
		padding: 8px;
		border-radius: 10px;
		margin: 5px auto 16px auto;
	}

}

@media screen and (max-width:767px){
	
	body {
		font-size: 18px;
		line-height: 19px;
		letter-spacing: normal;
	}
	
	#container {
		margin: 2% 2%;
		width: 96%;
	}
		
	img {
		max-width: 96% !important;
	}

	iframe {
		width: 98%;
		height: 500px;
	}
}

