@font-face {
    font-family: "Inferi";
    src: url(fonts/Inferi-ExtraLight.otf);
}

@font-face {
    font-family: "Inferi";
    font-style: italic;
    src: url(fonts/Inferi-ExtraLightItalic.otf);
}

@font-face {
    font-family: "BallPill";
    src: url(fonts/BallPill-regular.otf);
}

html {
	font-size: 100%;
}

body {
	font-family: "Inferi", Times, serif;
	font-weight: normal;
	font-size: 2.1em;
	line-height: 1.3em;
	text-align: left;
	color: black;
	background: rgb(240,240,240);
	background: -moz-linear-gradient(0deg, rgba(145,231,73,1) 0%, rgba(240,240,240,1) 5%);
	background: -webkit-linear-gradient(0deg, rgba(145,231,73,1)) 0%, rgba(240,240,240,1) 5%);
	background: linear-gradient(0deg, rgba(145,231,73,1) 0%, rgba(240,240,240,1) 5%);
	cursor: crosshair;
}

div {
	width: 100%;
	float: left;
}


#container {
	width: 99%;
	margin: 0 auto;
	margin: 1%;
}

header {
	width: 99%;
}

.headerleft {
	width: 64%;
	float: left;
	font-family: "BallPill", Helvetica, Arial, sans-serif;
	margin-right: 1%;
	border:3px solid transparent;
}
.headerright {
	width: 34%;
	float: left;
	font-family: "BallPill", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
}

.details {
	width: 99%;
	height: 70px;
	margin-bottom: 15px;
}
.name {
	width: 64%;
	min-height: 70px;
	float: left;
	font-family: "BallPill", Helvetica, Arial, sans-serif;
	border-top: 3px solid black;
	border-right: 3px solid black;
	border-left: 3px solid transparent;
	border-radius: 0 20px 0 0;
	padding-top: 5px;
	margin-right: 1%;
}
.year {
	font-family: "BallPill", Helvetica, Arial, sans-serif;
	width: 19%;
	min-height: 70px;
	float: left;
	padding-top: 5px;
	border-top: 3px solid black;
	border-right: 3px solid black;
	border-radius: 0 20px 0 0;
	margin-right: 1%;
}
.thing {
	width: 14%;
	min-height: 70px;
	float: left;
	font-size: 14px;
	line-height: 20px;
	font-family: "BallPill", Helvetica, Arial, sans-serif;
	padding-top: 5px;
	border-top: 3px solid black;
	border-right: 3px solid black;
	border-radius: 0 20px 0 0;
}
.thing ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}
.thing ul li:before
{
    content: '\2B24';
    margin: 0 0.3em 0 0;
    vertical-align: text-bottom;
}

.image {
	width: 99%;
	border-left: 3px solid black;
	border-bottom: 3px solid black;
	border-radius: 0 0 0 20px;
	margin-bottom: 50px;
}
.artwork {
	width: 64%;
	float: left;
	border-right: 3px solid black;
	text-align: center;
	margin-right: 1%;
}
.description {
	width:33%;
	float: left;
	font-size: 25px;
	line-height: 30px;
}

#bottomcredits {
	font-family: "BallPill", Helvetica, Arial, sans-serif;
	color: black;
	font-size: 11px;
	line-height: 18px;
}


/* STYLE --------------- */

p {
	margin: 0 0 1em 0;
}

.CurRec {
	font-family: "BallPill", Helvetica, Arial, sans-serif;
	letter-spacing: 0.5px;
	color: black;
	text-transform: uppercase;
}
    
img {
	max-height: initial;
	max-width: 90%;
	height: auto;
	padding: 0;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 16px;
	display: block;
	border-style: none;
	text-decoration: none;
}

img.shadow {
	border: 1px solid #323232;
}

img.thirds {
	float: left;
	max-height: 650px;
}

.imagecontainer {
	width:100%;
	display: flex;
	justify-content: center;
}

video {
	width: 95%;
	border: 0;
}
iframe {
	width: 95%
	margin:0 auto;
}

.spacer {
	padding-right: 50px;
}

::selection { background: #91E749; color: black; text-shadow: none; /* Safari */ }
::-moz-selection { background: #91E749; color: black; text-shadow: none; /* Firefox */ }




/* LINKS --------------- */

a:link {
	text-decoration:none;
	color: slateblue;
}

a:visited {
	text-decoration:none;
	color: slateblue;
}

a:hover{
	text-decoration:none;
	color: slateblue;
	text-shadow: 0px 0px 10px slateblue;
	-webkit-filter: blur(3px);
    filter: blur(3px);
    cursor: alias;
}

a:active {
	text-decoration:none;
	color: slateblue;
}



/* RESPONSIVE ----------------------------- */
@media screen and (max-width:1220px){
	body {
		font-size: 1.6em;
	}

	.headerleft {
		width: 60%;
	}
	.headerright {
		width: 36%;
	}

	.details {
		width: 99%;
		height: 55px;
		margin-bottom: 20px;
	}
	.name {
		width: 60%;
		min-height: 55px;
	}
	.year {
		width: 18%;
		min-height: 55px;
	}
	.thing {
		width: 18%;
		min-height: 55px;
		font-size: 11px;
		line-height: 16px;
	}

	.image {
		width: 99%;
	}
	.artwork {
		width: 60%;
		float: left;
		border-right: 3px solid black;
		text-align: center;
		margin-right: 1%;
	}
	.description {
		width:36%;
		float: left;
		font-size: 22px;
		line-height: 26px;
	}

	img {
		max-height: initial;
		max-width: 90%;
		height: auto;
	}
	img.thirds {
		max-height: 400px;
	}
	video {
		width: 90%;
		margin: -90px auto;
	}
	iframe {
		width: 90%;
	}
}


@media screen and (max-width:890px){
	
	body {
		font-size: 1.8em;
	}

	#container {
		margin: 2%;
		width: 98%;
	}
	
	.headerleft {
		width: 100%;
	}
	.headerright {
		width: 100%;
		font-size: 0.5em;
	}

	.details {
		width: 100%;
		height: auto;
		margin-bottom: 10px;
	}
	.name {
		width: 98%;
		min-height: 55px;
		margin-bottom: 10px;
	}
	.year {
		width: 49%;
		min-height: 55px;
	}
	.thing {
		width: 48%;
		min-height: 55px;
		font-size: 11px;
		line-height: 16px;
	}

	.image {
		width: 98%;
		margin-bottom: 40px;
		border-right: 3px solid black;
		border-radius: 0 0 20px 20px;
	}
	.artwork {
		width: 100%;
		height: auto;
	}
	.description {
		width:98%;
		float: left;
		font-size: 22px;
		line-height: 26px;
		padding: 2%;
	}
	img {
		max-height: initial;
		max-width: 90%;
		height: auto;
	}
	img.thirds {
		max-height: auto;
		height: auto;
	}
	.imagecontainer {
		flex-wrap: wrap;
	}
	video {
		width: 98%;
		margin: 0 auto;
		max-height: initial;
		height: auto;
	}
	iframe {
		width: 98%;
		padding: 0;
	}
}

