@font-face {
    font-family: "Inferi";
    src: url(fonts/Inferi-ExtraLight.otf);
}

@font-face {
    font-family: "Inferi";
    font-style: italic;
    src: url(fonts/Inferi-ExtraLightItalic.otf);
}

@font-face {
    font-family: "BallPill";
    src: url(fonts/BallPill-regular.otf);
}

html {
	font-size: 100%;
}

body {
	font-family: "Inferi", Times, serif;
	text-align: left;
	color: black;
	background: rgb(220,221,220);
	cursor: crosshair;
}

header{
	width: 100%;
	float: left;
	background: #ccfe02;
	border-bottom: 1px solid black;
	font-size: 1.3em;
	box-sizing: border-box;
}

.headerdivider {
	background: #ccfe02; 
	height: 30px; 
	border-bottom:1px solid black;
	box-sizing: border-box;
	width: 100%;
	float: left;
}

.menucontain {
	width: 25%;
	font-family: "BallPill", Helvetica, Arial, sans-serif;
	box-sizing: border-box;
	float: left;
}
.menuitemL, .menuitemR {
	width: 100%;
	float: left;
	font-family: "BallPill", Helvetica, Arial, sans-serif;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	box-sizing: border-box;
	padding: .3em;
}
.menuitem50 {
	width: 100%;
	float: left;
	font-family: "BallPill", Helvetica, Arial, sans-serif;
	border-bottom: 1px solid black;
	box-sizing: border-box;
	padding: .3em;
}
.menuitembio {
	width: 100%;
	float: left;
	font-family: "Inferi", Helvetica, Arial, sans-serif;
	font-size: 18px;
	line-height: 21px;
	box-sizing: border-box;
	padding: .3em;
}
.menu25 {
	width: 25%;
	float: left;
	box-sizing: border-box;
	display: block;
}
.menu75 {
	width: 75%;
	float: left;
	border-left: 1px solid black;
	box-sizing: border-box;
}

#bottomcredits {
	font-family: "BallPill", Helvetica, Arial, sans-serif;
	color: black;
	font-size: 9px;
	line-height: 14px;
	padding: .3em;
	width: 100%;
	float: left;
}

#projects {
	width: 100%;
	float: left;
}

#essays {
	font-family: "BallPill", Helvetica, Arial, sans-serif;
	width: 100%;
	float: left;
	border-bottom: 1px solid black;
	box-sizing: border-box;
	padding: .3em;
	background: #ccfe02;
	font-size: 1.3em;
	line-height: 1.4em;
}


.item {
	width: 100%;
	float: left;
	border-bottom:1px solid black;
	box-sizing: border-box;
}

.itemdivider {
	background: #ccfe02; 
	height: 30px; 
	border-bottom:1px solid black;
	box-sizing: border-box;
	width: 100%;
	float: left;
}


.details {
	width: 100%;
	float: left;
	height: 70px;
	box-sizing: border-box;
}
.name {
	width: 69%;
	height: 70px;
	float: left;
	font-family: "BallPill", Helvetica, Arial, sans-serif;
	padding-top: 5px;
	margin-right: 1%;
	padding-left: 1%;
	box-sizing: border-box;
	font-size: 2em;
	line-height: 1.3em;
}
.year {
	font-family: "BallPill", Helvetica, Arial, sans-serif;
	width: 29%;
	height: 70px;
	float: left;
	padding-top: 5px;
	margin-right: 1%;
	border-left: 1px solid black;
	padding-left: 1%;
	box-sizing: border-box;
	font-size: 2em;
	line-height: 1.3em;
}

.content {
	width: 69%;
	float: left;
	box-sizing: border-box;
	padding: 2%;
	text-align: left;
	font-size: 32px;
	line-height: 37px;
	margin-bottom: 10px;
}


.endnotes {
	width:69%;
	float: left;
	font-family: 'DM Mono', Courier, 'Courier New', monospace;
	font-size: 15px;
	line-height: 20px;
	overflow-wrap: break-word;
  	word-wrap: break-word;
  	word-break: break-word;
}

.toptop {
	width: 100%;
	float: left;
	margin-top: 10px;
}


/* STYLE --------------- */

blockquote { 
	font-family: "BallPill", Helvetica, Arial, sans-serif;
	font-size: 27px;
	line-height: 36px;
	margin-right: 80px;
	margin-left: 50px;
}

.footnote {
	font-family: "BallPill", Courier, 'Courier New', monospace;
	font-size: 16px;
	line-height: normal;
	border-radius: .6em;
    padding: .1em .2em .07em .2em;
    border: 2px solid slateblue;
    font-weight: normal;
    font-style: normal;
}

.subtitle {
	padding-left:50px;
	font-style: italic;
}

.CurRec {
	font-family: "BallPill", Helvetica, Arial, sans-serif;
	font-size: 15px;
	color: black;
}

span.spacer {
   padding:0 17px;
}

p {
	margin: 0 0 1em 0;
}
    

::selection { background: #ccfe02; color: black; text-shadow: none; /* Safari */ }
::-moz-selection { background: #ccfe02; color: black; text-shadow: none; /* Firefox */ }




/* LINKS --------------- */

a:link {
	text-decoration:none;
	color: slateblue;
}

a:visited {
	text-decoration:none;
	color: slateblue;
}

a:hover{
	text-decoration:none;
	color: slateblue;
	text-shadow: 0px 0px 10px slateblue;
	-webkit-filter: blur(4px);
    filter: blur(4px);
    cursor: alias;
}

a:active {
	text-decoration:none;
	color: slateblue;
}



/* RESPONSIVE ----------------------------- */

@media screen and (max-width:1400px){
	
	.content {
		font-size: 27px;
		line-height: 32px;
	}

	blockquote {
		font-size: 22px;
		line-height: 32px;
		letter-spacing: normal;
		margin-right: 60px;
	}

	.footnote {
		font-size: 13px;
		letter-spacing: 1px;
		padding: .15em .15em .05em .2em;
	}

}

@media screen and (max-width:1250px){
	.name {
		font-size: 1.7em;
	}
	.year {
		font-size: 1.7em;
	}

}

@media screen and (max-width:1060px){
	
	.details {
		height: auto;
		border-bottom: 1px solid black;
	}
	.name {
		width: 100%;
		height: 55px;
		border-bottom: 1px solid black;
		font-size: 2em;
	}
	.year {
		width: 100%;
		height: 55px;
		font-size: 2em;
		border-left: 0;
	}

	.content {
		width: 99%;
	}

	blockquote {
		margin-right: 80px;
	}
}

@media screen and (max-width:950px){
	.headerdivider {
		display: none;
	}
	.menucontain {
		width: 100%;
		font-family: "BallPill", Helvetica, Arial, sans-serif;
		box-sizing: border-box;
	}
	.menuitemL, .menuitemR {
		width: 50%;
	}
	.menuitemL {
		border-left: 0;
	}
	.menuitembio {
		font-size: 20px;
		line-height: 24px;
	}
	.menu25 {
		display: none;
	}
	.menu75 {
		border:0;
		width: 100%;
	}

	#projects {
		width: 100%;
	}

	.endnotes {
		width: 100%;
	}

	.details {
		height: auto;
		border-bottom: 1px solid black;
	}
	.name {
		width: 100%;
		height: 50px;
		border-bottom: 1px solid black;
		font-size: 1.5em;
	}
	.year {
		width: 100%;
		height: 50px;
		border-left: 0;
		font-size: 1.5em;
	}

	.CurRec {
		font-size: 18px;
	}
	blockquote {
		margin-right: 0;
		margin-left: 20px;
		font-size: 18px;
		line-height: 26px;
	}
	.content {
		font-size: 22px;
		line-height: 26px;
	}
	.subtitle {
		padding-left: 20px;
	}

}


