@font-face {
    font-family: "Inferi";
    src: url(fonts/Inferi-ExtraLight.otf);
}

@font-face {
    font-family: "Inferi";
    font-style: italic;
    src: url(fonts/Inferi-ExtraLightItalic.otf);
}

@font-face {
    font-family: "BallPill";
    src: url(fonts/BallPill-regular.otf);
}

html {
	font-size: 100%;
}

body {
	font-family: "Inferi", Times, serif;
	font-weight: normal;
	font-size: 2.1em;
	line-height: 1.3em;
	text-align: left;
	color: black;
	background: #eee;
	cursor: crosshair;
}

div {
	width: 100%;
	float: left;
}


#container {
	width: 99%;
	margin: 0 auto;
	margin: 1%;
}

header {
	width: 99%;
}

.headerleft {
	width: 64%;
	float: left;
	font-family: "BallPill", Helvetica, Arial, sans-serif;
	margin-right: 1%;
	border:3px solid transparent;
}
.headerright {
	width: 34%;
	float: left;
	font-family: "BallPill", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
}

.essays {
	font-family: "BallPill", Helvetica, Arial, sans-serif;
	width: 100%;
}

.details {
	width: 99%;
	height: 70px;
	margin-bottom: 15px;
	color: #89FF81;
}
.name {
	width: 64%;
	min-height: 70px;
	float: left;
	font-family: "BallPill", Helvetica, Arial, sans-serif;
	border-top: 3px solid #89FF81;
	border-right: 3px solid #89FF81;
	border-left: 3px solid transparent;
	border-radius: 0 20px 0 0;
	padding-top: 5px;
	margin-right: 1%;
}
.year {
	font-family: "BallPill", Helvetica, Arial, sans-serif;
	width: 34%;
	min-height: 70px;
	float: left;
	padding-top: 5px;
	border-top: 3px solid #89FF81;
	border-right: 3px solid #89FF81;
	border-radius: 0 20px 0 0;
}

.content {
	width: 99%;
	margin-bottom: 50px;
	border-left: 3px solid transparent;
	border-bottom: 3px solid transparent;
	border-radius: 0 0 0 20px;
}
.writing {
	width: 64%;
	float: left;
	text-align: left;
	letter-spacing: -0.01px;
	margin-right: 1%;
	border-right: 3px solid transparent;
}
.endnotes {
	width:33%;
	float: left;
}

#bottomcredits {
	font-family: "BallPill", Helvetica, Arial, sans-serif;
	color: #89FF81;
	font-size: 11px;
	line-height: 18px;
}

#difference {
	mix-blend-mode: difference;
	width: 100%;
	height: 150px;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 9999;
	pointer-events: none;
	background-image: linear-gradient(to bottom, rgba(106, 90, 205, 0), rgba(106, 90, 205, 0.9) 100%);
}

/* STYLE --------------- */

blockquote { 
	font-family: "BallPill", Helvetica, Arial, sans-serif;
	font-size: 28px;
	margin-right: 4em;
	margin-left: 2.5em;
}

.footnote {
	font-family: "BallPill", Courier, 'Courier New', monospace;
	font-size: 16px;
	line-height: normal;
	border-radius: .6em;
    padding: .1em .2em .1em .2em;
    border: 2px solid slateblue;
    font-weight: normal;
    font-style: normal;
}

.footnotebottom {
	font-family: Courier, 'Courier New', monospace;
	font-size: 14px;
	line-height: 19px;
}

.CurRec {
	font-family: "BallPill", Helvetica, Arial, sans-serif;
	letter-spacing: 0.5px;
	color: #89FF81;
}

span.spacer {
   padding:0 17px;
}

hr { 
	width: 100%;
	display: block;
    border: 5px solid black;
    border-style: none none solid; 
    color: #fff; 
    background-color: #fff; 
    margin: 10px 0 1.5em 0; 
    padding: 0;
    float: left;
    clear: both;
}

p {
	margin: 0 0 1em 0;
}
    
img {
	max-width: 100%;
	max-height: 700px;
	padding: 0;
	display: block;
    margin-bottom: 25px;
    margin-right: 25px;
    float: left;
	border-style: none;
	text-decoration: none;
}

img.shadow {
	border: 1px solid #ccc;
   padding: 0;
}

::selection { background: #000; color: slateblue; text-shadow: none; /* Safari */ }
::-moz-selection { background: #000; color: slateblue; text-shadow: none; /* Firefox */ }




/* LINKS --------------- */

a:link {
	text-decoration:none;
	color: slateblue;
}

a:visited {
	text-decoration:none;
	color: slateblue;
}

a:hover{
	text-decoration:none;
	color: slateblue;
	text-shadow: 0px 0px 10px slateblue;
	-webkit-filter: blur(3px);
    filter: blur(3px);
    cursor: alias;
}

a:active {
	text-decoration:none;
	color: slateblue;
}



/* RESPONSIVE ----------------------------- */

@media screen and (max-width:1024px){

	#container {
		margin: 2% 2%;
		width: 96%;
	}

	.titles {
		padding: 12px;
		border-radius: 12px;
		letter-spacing: normal;
	}

	.writing { 
	    width: 100%;
	    margin-bottom: 60px;
	}
}

@media screen and (max-width:767px){
	
	body {
		font-size: 20px;
		line-height: 22px;
		letter-spacing: normal;
	}

	#header {
		width: 100%;
	}

	.titles {
		padding: 8px;
		border-radius: 10px;
		letter-spacing: normal;
		font-size: 16px;
	}

	blockquote {
		font-size: 16px;
		line-height: 21px;
		letter-spacing: normal;
	}

	.footnote {
		font-size: 10px;
		border: 1px solid slateblue;
		letter-spacing: 1px;
	}
	
	.footnotebottom {
		font-size: 13px;
	}

	img {
		max-width: 100% !important;
	}
	
	sup {
		font-size: 10px;
	}

	.CurRec {
		font-size: 10px;
	}
}
